<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candlestick Chart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
    <script src="{{ url_for('static', filename='my_candlestick_chart.js') }}"></script>
    <style>
        body {
            background-color: rgba(40,40,40,1); /* Dark background */
            color: white; /* White text */
            margin: 0;
            padding: 0;
        }
        .side-panel {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
            overflow-x: hidden;
            transition: 0.5s; /* Smooth transition */
        }
        .header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            align-items: center; /* To align the buttons at the same height */
            border-bottom: 2px solid #007BFF;
        }
        .button {
            padding: 10px 20px;
            background: #007BFF;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-right: auto; /* Pushes the button to the far left */
        }
        .right-buttons {
            display: flex;
        }
        .right-buttons .button {
            margin-left: 10px;
        }
        .button:hover, .button:hover, .right-buttons .button:hover {
            background: #0056b3;
        }
        .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
            color: black;
        }
    </style>
</head>
<body>
    <div class="header">
        <span style="font-size:20px;">Select backtesting date:&nbsp;&nbsp;</span>
        <input type="text" id="daterange" style="width:240px; height:28px; font-size:16px; margin-right:auto;">
        <div class="right-buttons">
            <a href="/">
                <button class="button"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</button>
            </a>
            <button class="button" onclick="toggleSidePanel()"><i class="fas fa-bars"></i>&nbsp;&nbsp;Info Panel</button>
        </div>
    </div>
    <div id="chart-container-1" style="height: 600px;"></div>
    <div id="sidePanel" class="side-panel">
        <br><br><br><br><br>
        {{ content|safe }} <!-- This will render the content passed from Flask -->
    </div>
    <script>
        $(function() {
            $('#daterange').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                var startDate = start.format('YYYY-MM-DD');
                var endDate = end.format('YYYY-MM-DD');
                
                // Send the selected dates to the Flask app
                $.ajax({
                    url: '/backtest', // Flask route to handle the dates
                    method: 'POST',
                    data: {
                        start_date: startDate,
                        end_date: endDate
                    },
                    success: function(response) {
                        // Handle the response from the Flask app (if needed)
                        console.log(response);
                    }
                });
            });
        });
        function startOnInterval(fetchData_1, interval) {
            // Calculate the time remaining until the next interval
            var timeUntilNextInterval = interval - (new Date().getTime() % interval);

            // Use setTimeout to start the setInterval at the next interval
            setTimeout(function() {
                // Start the interval to fetch data regularly
                setInterval(function() {
                    fetchData_1('backtest_mode');
                }, interval);

                // Fetch data immediately when the interval starts
                fetchData_1('backtest_mode');
            }, timeUntilNextInterval);
        }

        fetchData_1('backtest_mode');

        // To refresh every 10 seconds, comment out the above line and uncomment the following line:
        startOnInterval(fetchData_1, 10000);
    </script>
</body>
</html>