<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candlestick Chart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='my_candlestick_chart.js') }}"></script>
    <style>
        body {
            background-color: rgba(40,40,40,1); /* Dark background */
            color: white; /* White text */
            margin: 0;
            padding: 0;
        }
        .side-panel {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
            overflow-x: hidden;
            transition: 0.5s; /* Smooth transition */
        }
        .header {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            align-items: center; /* To align the buttons at the same height */
            border-bottom: 2px solid #007BFF;
        }
        .left-button-link, .button-link {
            display: flex;
            text-decoration: none;
        }
        .button {
            padding: 10px 20px;
            background: #007BFF;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .left-button-link .button {
            margin-right: auto; /* Pushes the button to the far left */
        }
        .right-buttons {
            display: flex;
        }
        .right-buttons .button {
            margin-left: 10px;
        }
        .left-button-link .button:hover, .button-link .button:hover, .right-buttons .button:hover {
            background: #0056b3;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="/backtest" class="left-button-link"> <!-- Replace with the actual link to the new page -->
            <button class="button">Run Backtest</button>
        </a>
        <div class="right-buttons">
            <a href="/strategies_builder" class="button-link">
                <button class="button">Strategies Builder</button>
            </a>
            <button class="button" onclick="toggleSidePanel()"><i class="fas fa-bars"></i>&nbsp;&nbsp;Info Panel</button>
        </div>
    </div>

    <div id="chart-container-1" style="height: 600px;"></div>
    <div id="chart-container-2" style="height: 600px;"></div>

    <div id="sidePanel" class="side-panel">
        <br><br><br><br><br>
        {{ content|safe }} <!-- This will render the content passed from Flask -->
    </div>
    <script>
        function startOnInterval(fetchData_1, fetchData_2, interval) {
            // Calculate the time remaining until the next interval
            var timeUntilNextInterval = interval - (new Date().getTime() % interval);

            // Use setTimeout to start the setInterval at the next interval
            setTimeout(function() {
                // Start the interval to fetch data regularly
                setInterval(function() {
                    fetchData_1(null);
                    fetchData_2(null);
                }, interval);

                // Fetch data immediately when the interval starts
                fetchData_1(null);
                fetchData_2(null);
            }, timeUntilNextInterval);
        }

        fetchData_1(null);
        fetchData_2(null);

        // To refresh every 10 seconds, comment out the above line and uncomment the following line:
        startOnInterval(fetchData_1, fetchData_2, 10000);
    </script>
</body>
</html>
