<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strategies Builder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-color: rgba(40,40,40,1);
            color: white;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            max-width: 600px;
            margin: 50px auto;
            background: rgba(60,60,60,1);
            padding: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            background: rgba(50,50,50,1);
            color: white;
            border-radius: 4px;
        }
        .container-grid {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        @media (min-width: 600px) {
            .container-grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }
        @media (min-width: 900px) {
            .container-grid {
                grid-template-columns: repeat(3, 1fr);
            }
        }
        .tabs {
            overflow: hidden;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            padding-left: 20px;
            border-bottom: 2px solid #007BFF;
        }
        .tab-button {
            padding: 10px 20px;
            background: #333; /* Setting the default background color to #333 */
            color: white;
            cursor: pointer;
            border: none;
            outline: none;
            transition: background 0.3s, color 0.3s;
            border-bottom: 3px solid transparent;
            margin-right: 10px;
            font-size: 16px;
        }
        .tab-button:last-child {
            margin-right: 0;
        }
        .tab-button.active {
            background: #007BFF; /* Setting the active tab background color to #007BFF */
            border-bottom: 3px solid white;
        }
        .tab-button:hover {
            background: #0056b3;
        }
        .tab-content {
            display: none;
        }
        .tab-content.active {
            display: grid;
        }
        .tab-button-right {
            padding-right: 20px;
            color: #007BFF;
            cursor: pointer;
            border: none;
            outline: none;
            margin-left: auto;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            function showTab(tabName) {
                var tabs = document.getElementsByClassName('tab-content');
                var buttons = document.getElementsByClassName('tab-button');
                for (var i = 0; i < tabs.length; i++) {
                    tabs[i].style.display = 'none';
                    buttons[i].classList.remove('active');
                }
                document.getElementById(tabName).style.display = 'grid';
                document.querySelector(`button[data-tab='${tabName}']`).classList.add('active');
            }

            // Attach click event listeners to tab buttons
            var tabButtons = document.getElementsByClassName('tab-button');
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].addEventListener('click', function(event) {
                    var tabName = event.currentTarget.getAttribute('data-tab');
                    showTab(tabName);
                });
            }

            // Show the Trigger tab by default
            showTab('Trigger');
        });
    </script>
</head>
<body>
    <div class="tabs">
        <button class="tab-button" data-tab="Trigger">Trigger</button>
        <!-- <button class="tab-button" data-tab="Manage">Manage</button> -->
        <button class="tab-button" data-tab="Exit">Exit</button>
        <a href="/" class="tab-button-right">
            <button class="tab-button"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</button>
        </a>
    </div>
    <div class="tab-content container-grid" id="Trigger">
        {% for container in containers %}
            <div class="container">
                <form action="{{ url_for('save_strategy', strategy_number=loop.index) }}" method="post">
                    <input type="hidden" name="header" value="{{ container.header }}">
                    <div style="display: flex; align-items: center;">
                        <h3 style="margin-right: 20px;">{{ container.header }}</h3>
                        <div style="flex-grow: 1; text-align: right;">
                            <input type="checkbox" name="checkbox_name" {{ container.checkbox_checked }}>
                            <span>Enable</span>
                        </div>
                    </div>
                    <label for="strategy">Strategy:</label>
                    <select name="strategy" id="strategy">
                        <option value="{{ container.strategy_value }}">{{ container.strategy_value }}</option>
                    </select>
                    <label for="parameter">Parameter:</label>
                    <select name="parameter" id="parameter">
                        <option value="{{ container.parameter_value }}">{{ container.parameter_value }}</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <!-- <div class="tab-content" id="Manage">
        Content for Manage
    </div> -->
    <div class="tab-content" id="Exit">
        Content for Exit
    </div>
</body>
</html>
